# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Etc
*~
*.bak
compile_commands.json

# Directories
BAK/
MSVC/
build/
out/
.cache/
.vs/

# Temporary!
make_rpc/
Vim/
contrib/detours/
contrib/libunistring/
*.hint
*.supp
Folder.DotSettings
CMakeSettings.json
dump.py
